[versions]
# Kotlin
kotlin = "1.9.24"
kotlin-coroutines = "1.8.1"
kotlin-jvm-target = "17"

# Compose
compose = "1.7.0"
compose_plugin = "1.6.11"
compose_compiler = "1.5.14"

# Android
android-gradle-plugin = "8.3.2"
android-app-compat = "1.7.0"
android-core-ktx = "1.13.1"
android-activity-compose = "1.9.2"
androidx_lifecycle = "2.8.5"
android-test-runner = "1.6.2"
android-espresso = "3.6.1"


# Docs
dokka = "1.9.20"

# Publishing
maven-publish = "0.28.0"

# Testing
junit = "4.13.2"
androidx-test-ext-junit = "1.2.1"
espresso-core = "3.6.1"

[libraries]
# Kotlin
kotlin-plugin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
kotlin-coroutines-core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "kotlin-coroutines" }

# Android
android-build-tools = { module = "com.android.tools.build:gradle", version.ref = "android-gradle-plugin"}
android-app-compat = { group = "androidx.appcompat", name = "appcompat", version.ref = "android-app-compat" }
android-core-ktx = { group = "androidx.core", name = "core-ktx", version.ref = "android-core-ktx" }
android-activity-compose = { module = "androidx.activity:activity-compose", version.ref = "android-activity-compose" }
android-compose-preview = { module = "androidx.compose.ui:ui-tooling-preview", version.ref = "compose" }
android-lifecycle-runtime = { module = "androidx.lifecycle:lifecycle-runtime", version.ref = "androidx_lifecycle" }
android-lifecycle-view-model = { module = "androidx.lifecycle:lifecycle-viewmodel", version.ref = "androidx_lifecycle" }
android-lifecycle-view-model-compose = { module = "androidx.lifecycle:lifecycle-viewmodel-compose", version.ref = "androidx_lifecycle" }

# Publish
maven-publish-plugin = { module = "com.vanniktech.maven.publish.base:com.vanniktech.maven.publish.base.gradle.plugin", version.ref = "maven-publish" }

# Testing
junit = { group = "junit", name = "junit", version.ref = "junit" }
android-test-ext-junit = { group = "androidx.test.ext", name = "junit", version.ref = "androidx-test-ext-junit" }
android-espresso-core = { group = "androidx.test.espresso", name = "espresso-core", version.ref = "espresso-core" }
kotlin-coroutines-test = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test", version.ref = "kotlin-coroutines" }
android-compose-junit = { module = "androidx.compose.ui:ui-test-junit4", version.ref = "compose" }
android-compose-test-manifest = { module = "androidx.compose.ui:ui-test-manifest", version.ref = "compose" }
android-test-runner = { module = "androidx.test:runner", version.ref = "android-test-runner" }
android-espresso = { module = "androidx.test.espresso:espresso-core", version.ref = "android-espresso" }


[plugins]
# Kotlin
kotlin-multiplatform = { id = "org.jetbrains.kotlin.multiplatform", version.ref = "kotlin" }
kotlin-js = { id = "org.jetbrains.kotlin.js", version.ref = "kotlin" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }

# Compose
compose = { id = "org.jetbrains.compose", version.ref = "compose_plugin" }

# Android
android-application = { id = "com.android.application", version.ref = "android-gradle-plugin" }
android-library = { id = "com.android.library", version.ref = "android-gradle-plugin" }

# Java
java-gradle-plugin = { id = "java-gradle-plugin" }

# Docs
dokka = { id = "org.jetbrains.dokka", version.ref = "dokka" }

# Publishing
maven-publish = { id = "com.vanniktech.maven.publish", version.ref = "maven-publish"}

# Convention
publish = { id = "com.attafitamim.krop.publish" }
multiplatform = { id = "com.attafitamim.krop.multiplatform" }
