name: Build

on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  android:
    name: Build & Test (Android)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: adopt
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build & Test
        run: ./gradlew assembleRelease assembleDebugAndroidTest

  desktop:
    name: Build & Test (Desktop)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: adopt
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build & Test
        run: ./gradlew desktopJar desktopTest

  ios:
    name: Build & Test (iOS)
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: adopt
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build & Test
        run: ./gradlew iosArm64MainKlibrary iosX64MainKlibrary iosSimulatorArm64MainKlibrary iosSimulatorArm64Test

  web:
    name: Build & Test (JS/WasmJS)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: adopt
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build & Test
        run: ./gradlew kotlinUpgradeYarnLock kotlinWasmUpgradeYarnLock jsJar wasmJsJar jsBrowserTest wasmJsBrowserTest
